#gitshow-welcome {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f;
    color: #8b949e;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
}

#gitshow-welcome h1 {
    font-size: 250%;
    margin: 0 0 0.8em 0;
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 0.2em;
}

#gitshow-welcome p {
    margin: 0.5em 0;
}

#gitshow-welcome a {
    color: white;
}

#gitshow-message {
    font-size: 100%;
    margin: 5em 0;
    display: none;
    line-height: 1.5;
}

#gitshow-message .code {
    font-size: 200%;
}

#gitshow-message .report {
    text-align: left;
    line-height: 1.2;
}

#gitshow-message .report p {
    margin-left: 1.6em;
    text-indent: -1.6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#gitshow-message .error, #gitshow-message .ok {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: cover;
    vertical-align: text-bottom;
}

#gitshow-message .ok {
    background: url('/css/green-checkmark-line-icon.svg') top left no-repeat;
    background-size: cover;
}

#gitshow-message .error {
    background: url('/css/red-x-line-icon.svg') top left no-repeat;
    background-size: cover;
}

#gitshow-welcome .show {
    margin-top: 4em;
    letter-spacing: normal;
}

#gitshow-welcome .show p, #gitshow-welcome .show form {
    margin: 1em;
    font-size: 0.8rem;
}

#gitshow-welcome button, #gitshow-welcome input {
    background-color: #1f1f1f;
    color: #8b949e;
    padding: 1em;
    border: 1px solid #8b949e;
    border-radius: 5px;
}

#gitshow-welcome button {
    cursor: pointer;
}

#gitshow-welcome input {
    margin: 1em 0;
}

#gitshow-welcome button:hover {
   background-color: #2f2f2f;
}

#gitshow-welcome #gitshow-run {
    color: white;
    border-color: white;
}

/* ==== Start and loading mode ==== */

#gitshow-welcome.start h1 {
    font-size: 120%;
    margin: 0 0 0 0;
}

#gitshow-welcome.start #gitshow-message {
    display: block;
}

#gitshow-welcome.start .show {
    display: none;
}

#gitshow-welcome.loading .loader {
    display: block;
}

/* Thanks to https://cssloaders.github.io/ */
#gitshow-welcome .loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: auto;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
    display: none;
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
